@model PostListModel
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                @Html.Vasilk().SharedPartial("_Menu")
            </div>
            <div class="col-lg-9">
                @if (Model?.Data == null || Model.Data.Length == 0)
                {
                    <div class="text-center">@Html.Dictionary("/Content/khong-co-bai-viet", "Hiện tại chưa có bài viết")</div>
                }
                else
                {
                    <div class="row">
                        @foreach (Post post in Model.Data)
                        {
                            <div class="col-lg-4 col-md-6 pb-3">
                                <div class="card">
                                    <a href="@post.Base.FullLinkUrl" target="_self"><img class="card-img-top" src="@post.Thumbnail" alt="@post.Title"></a>
                                    <div class="card-body">
                                        <h5 class="card-title"><a class="text-primary" href="@post.Base.FullLinkUrl" target="_self">@post.Title</a></h5>
                                        <div class="card-text">@post.Summary</div>
                                        <a href="@post.Base.FullLinkUrl" target="_self" class="text-red font-italic">@Html.Dictionary("/Content/doc-tiep", "đọc tiếp")</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    if (Model.MaxPage > 0)
                    {
                        <div class="text-right">
                            <div class="d-inline-block text-left">
                                <nav>
                                    <ul class="pagination">
                                        <li class="page-item">
                                            <a class="page-link" href="@AppConstants.BaseRequestUrl" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                        </li>
                                        @for (int i = Model.StartPage - 2; i <= Model.StartPage + 2; i++)
                                        {
                                            if (i >= 0 && i <= Model.MaxPage)
                                            {
                                                <li class="page-item @(Model.Page == i ? "disabled" : "")"><a class="page-link" href="@AppConstants.BaseRequestUrl?page=@i" @(Model.Page == i ? "tabindex=-1" : "")>@(i + 1)</a></li>
                                            }
                                        }
                                        <li class="page-item">
                                            <a class="page-link" href="@AppConstants.BaseRequestUrl?page=@Model.MaxPage" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>